.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: auto;
}

.mainImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  color: black;
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  top: 5%;
  text-align: center;
}
