.Header {
  background-color: var(--dark-color);
  color: var(--white-color);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 var(--spacing-1);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-weight-black);
  height: var(--header-height);
}

.nav__left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.site__name {
  font-size: var(--font-size-3);
}

.nav__right {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-left: var(--spacing-3);
  position: relative;
  cursor: pointer;
}

.profile__nav {
  display: flex;
  align-items: center;
}

.profile__image {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  box-shadow: 0 0 0 2px white;
}

.profile__name {
  margin-left: var(--spacing-1);
}
